<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div id="container">

        <h3>Register</h3>
        <form id="form-input" action="/signup" method ="post">
            <input type="text" name="fname" id="fname" placeholder="FirstName" required>
            <input type="text" name="lname" id="lname" placeholder="LastName" required>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="text" name="username" id="username"placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>

            <button type="submit" value="Submit">SignUp</button>
            <button type="submit"><a href="/">LogIn</a></button>



        </form>
    </div>

   
    



    <script src="../js/index.js"></script>
</body>
</html>